#app {
    padding: 25px 100px 80px;
}

#aboutButton {
    margin-top: -.5%;
}

#darkModeSwitch {
    margin-left: 2%;
}

#uploadHeader {
    margin: 30px 0px 25px;
}

#fileName {
    margin-left: 3%;
}

#textDiv {
    margin-top: -8%;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    outline: 2px solid #ADE3E0;
}

textarea:focus {
    border: none;
    outline: 3px solid #52CBC5;
}

#clearButton {
    margin-bottom: 2%;
    float: right;
}

#generateButton {
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 20px;
    float: left;
}

#summarySection {
    position: relative;
    margin: 30px 0 15px;
    display: inline-block;
    /* No idea why this needs to be 101%, but it makes it always be the same width as the slider underneath it */
    width: 101%;
}

#errorMessage {
    margin-top: 50px;
    width: 90%;
}

#loaderMessage {
    text-align: center;
    margin-top: 15px;
}

#paper {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden
}

#paperText {
    padding: 20px;
}

.fileError {
    margin-top: 20px;
}