@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&display=swap';

#app {
    padding: 50px 100px 80px;
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
}

#uploadHeader {
    margin: 75px 0px 25px;
}

#fileName {
    margin-left: 3%;
}

#generateButton {
    margin-top: 130px;
    margin-left: 10px;
    margin-right: 20px
}

#summarySection {
    position: relative;
    margin: 80px 0 15px;
    display: inline-block;
    /* No idea why this needs to be 101%, but it makes it always be the same width as the slider underneath it */
    width: 101%;
}

#loaderMessage {
    text-align: center;
    margin-top: 15px;
}

#paper {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden
}

#paperText {
    padding: 20px;
}

#fileError {
    margin-top: 20px;
}