.app {
    margin-top: 40px;
}

.directions {
    margin-top: 80px;
}

.uploadHeader {
    margin: 75px 0px 25px;
}

#summarySection {
    text-align: center;
}

#summary, #error {
    margin-top: 80px;
    padding-top: 40px;
    display: inline-block;
}

p {
    font-size: x-large;
}