#app {
    padding: 50px 100px 80px;
}

#uploadHeader {
    margin: 75px 0px 25px;
}

#fileName {
    margin-left: 3%;
}

textarea {
    border: none;
    outline: 2px solid #639FAB;
}

textarea:focus {
    border: none;
    outline: 3px solid #52CBC5;
}

#generateButton {
    margin-top: 130px;
    margin-left: 10px;
    margin-right: 20px
}

#summarySection {
    position: relative;
    margin: 80px 0 15px;
    display: inline-block;
    /* No idea why this needs to be 101%, but it makes it always be the same width as the slider underneath it */
    width: 101%;
}

#loaderMessage {
    text-align: center;
    margin-top: 15px;
}

#paper {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden
}

#paperText {
    padding: 20px;
}

.fileError {
    margin-top: 20px;
}